# List and its Default Functions

# A list is a sequence of values. You could visualize a list as a container that holds a number of items, in a given order.

In [1]:
planets = ["Earth", "Mars", "Saturn", "Jupiter"]

In [2]:
planets

['Earth', 'Mars', 'Saturn', 'Jupiter']

In [3]:
# SUB LIST

mixedList = ["Hey", 123, ["Dog", "Cat", "Bird"]]

In [4]:
mixedList

['Hey', 123, ['Dog', 'Cat', 'Bird']]

# To Return the Number of items in a List

In [5]:
planets = ["Earth", "Mars", "Saturn", "Jupiter"]

In [6]:
print(len(planets))

4

# Accessing a List Item

In [7]:
planets = ["Earth", "Mars", "Saturn", "Jupiter"]

In [8]:
print(planets[1])

Mars

In [9]:
print(planets[1:3])

['Mars', 'Saturn']

In [13]:
print(planets[0:2])

['Earth', 'Mars']

# Negative Indexing

In [14]:
planets = ["Earth", "Mars", "Saturn", "Jupiter"]
print(planets[-2])

Saturn

# Update a List Item

In [15]:
planets[1] = "Mercury"

In [16]:
planets

['Earth', 'Mercury', 'Saturn', 'Jupiter']

# Append a List Item

In [17]:
# by using the append()

planets.append("Mercury")

In [18]:
print(planets)

['Earth', 'Mercury', 'Saturn', 'Jupiter', 'Mercury']

# Delete a List Item

In [20]:
planets = ["Earth", "Mars", "Saturn", "Jupiter"]
print(planets)
del planets[2]
print(planets)

['Earth', 'Mars', 'Saturn', 'Jupiter']
['Earth', 'Mars', 'Jupiter']

# list methods

In [21]:
#append()

a = ["bee", "moth"]
print(a)
a.append("ant")
print(a)

['bee', 'moth']
['bee', 'moth', 'ant']

In [22]:
# extend(iterable)

a = ["bee", "moth"]
print(a)
a.extend(["ant", "fly"])
print(a)

['bee', 'moth']
['bee', 'moth', 'ant', 'fly']

In [23]:
#insert(i, x)
a = ["bee", "moth"]
print(a)
a.insert(0, "ant")
print(a)
a.insert(2, "fly")
print(a)

['bee', 'moth']
['ant', 'bee', 'moth']
['ant', 'bee', 'fly', 'moth']

In [24]:
#remove(x)
a = ["bee", "moth", "ant"]
print(a)
a.remove("moth")
print(a)

['bee', 'moth', 'ant']
['bee', 'ant']

In [25]:
#pop([i]) 
a = ["bee", "moth", "ant"]
print(a)
a.pop()
print(a)

['bee', 'moth', 'ant']
['bee', 'moth']

In [26]:
#copy()
# WITH copy()
a = ["bee", "wasp", "moth"]
b = a.copy()
b.append("ant")
print(a)
print(b)

['bee', 'wasp', 'moth']
['bee', 'wasp', 'moth', 'ant']

# Dictonary and its default functions

# In Python, a dictionary is an unordered collection of items, with each item consisting of a key: value pair (separated by a colon).

In [27]:
#Create a Dictionary

#d = {"Key1": "Value1", "Key2": "Value2"}

planet_size = {"Earth": 40075, "Saturn": 378675, "Jupiter": 43926}
print(planet_size) #printing a dictonary
print(type(planet_size)) #type

{'Earth': 40075, 'Saturn': 378675, 'Jupiter': 43926}
<class 'dict'>

In [30]:
#Dictionary containing Lists & Tuples
food = {"Fruit": ["Apple", "Orange", "Banana"], "Vegetables": ("Eat", "Your", "Greens")}
print(food)

{'Fruit': ['Apple', 'Orange', 'Banana'], 'Vegetables': ('Eat', 'Your', 'Greens')}

In [31]:
#Access the Values in a Dictionary using get()print(planet_size["Earth"])

planet_size = {"Earth": 40075, "Saturn": 378675, "Jupiter": 439264}
print(planet_size.get("Saturn"))

378675

# Add a New Item

In [32]:
user = {"Name": "Christine", "Age": 23}
print(user)
user["Height"] = 154
print(user)

{'Name': 'Christine', 'Age': 23}
{'Name': 'Christine', 'Age': 23, 'Height': 154}

# Delete a Whole Dictionary

In [34]:
user = {"Name": "Christine", "Age": 23}
del user

# 3.Tuples and its default functions

# In Python, a tuple is a comma-separated sequence of values. Very similar to a list. However, there's an important difference between the two.

In [36]:
#Creating a Tuple

weekdays = ("Monday", "Tuesday", "Wednesday", "Thursday", "Frid")
print(weekdays)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Frid')

In [37]:
#Single Item Tuples
a = ("dog")
b = ("dog",)
print(type(a))
print(type(b))

<class 'str'>
<class 'tuple'>

# Tuple containing a List

In [38]:
t = ("Banana", [1, 2, 3]) 

t = ("Banana", [1, 2, 3]) 
# Print the tuple
print(t)

('Banana', [1, 2, 3])

# Access the Values in a Tuple

In [39]:
weekdays = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
# Print the second element of the tuple

print(weekdays[1])

Tuesday

In [40]:
print(weekdays[1:4])

('Tuesday', 'Wednesday', 'Thursday')

#  Updateing   a Tuple

In [41]:
weekenddays = ("Saturday", "Sunday")
print(weekenddays)
weekenddays = ("Sat", "Sun") # resassining the print
print(weekenddays)

('Saturday', 'Sunday')
('Sat', 'Sun')

# Delete a Tuple

In [42]:
t=(1,2,3,4,5)
del t

# strings and its default function

# In Python, a string is a data type that's typically used to represent text. A string could be any series of characters, including letters, numbers, spaces, etc.

In [43]:
a = "Hey"
b = "Hey there!"
c = "742 Evergreen Terrace"
d = "1234"
e = "'How long is a piece of string?' he asked"
f = "'!$*#@ you!' she replied"

In [44]:
print(a)
print(b)
print(c)
print(e)
print(f)

Hey
Hey there!
742 Evergreen Terrace
'How long is a piece of string?' he asked
'!$*#@ you!' she replied

# Return a String's Length

In [45]:
b = "Hey"
print(len(b))

3

# Detecting Numbers in Strings

In [46]:
#using isnumeric()

a = "pic123"
b = "21344"
print (a.isnumeric())
print (b.isnumeric())

False
True

# sets and its defau functions

# A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements.

In [2]:
# creating a set
thisset = {"apple", "banana", "cherry"}


print(thisset)

{'apple', 'cherry', 'banana'}

In [4]:
#Access Items

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [5]:
# adding items
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'orange', 'banana'}

In [6]:
#updating items
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'grapes', 'cherry', 'orange', 'banana', 'apple', 'mango'}

In [7]:
#Get the Length of a Set using len()
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

# Remove Item

In [8]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

# Join Two Sets

In [9]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'b', 'a', 3, 'c'}

# The set() Constructor

In [10]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)
# Note: the set list is unordered, so the result will display the items in a random order.

{'apple', 'cherry', 'banana'}